@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes floatOrange {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(-40px, 30px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes floatRed {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(30px, -40px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes pulseCenter {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.08);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.atmosphere-orange {
  animation: floatOrange 18s ease-in-out infinite;
}

.atmosphere-red {
  animation: floatRed 22s ease-in-out infinite;
}

.atmosphere-center {
  animation: pulseCenter 14s ease-in-out infinite;
}
html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
  overflow-x: hidden;
}
.moving-strip {
  width: max-content;
  animation: marqueeMove 25s linear infinite;
}

@keyframes marqueeMove {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.font-baskerville {
  font-family: var(--font-baskerville);
}